# Node modules
node_modules/

# Environment variables
.env

# Cache and log files
latestVideos.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
